body {
     margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #ffae00,#ffea00c3);
}

h1 {
    text-align: center;
    margin-top: 38px;
    margin-bottom: 25px;
    font-size: 80px;
    color: #4b0505;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 35px;
    color: #114b04;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

h3 {
    text-align: center;
    margin-top: 5px;
    font-size: 50px;
    color:  #ffea00c3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;


}

h4 {
    text-align: center;
    margin-top: 5px;
    font-size: 30px;
    color:  #4b0505;;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;

}

p { 
    text-align: center;
    margin-top: 0px;
    font-size: 13px;
    color: #4b0505;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;



}

.links {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    gap: 20px;
    padding-bottom: 15px;
    

}

.flavorbuttons {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 15px;

}

button {
    color: #ffae00;
    background: #114b04;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    transition: box-shadow 0.3s ease;
}

button:hover {
    box-shadow: 0px 5px 10px  #4b0505;
    transform: scale(1.07);
    background:  silver;
    color: #114b04;
    font-weight: bolder;
}

#Berry {     
    display: none; 

} 

#Lemon {
    display: none;
}

#Mint {
    display: none;
}

#Blue {
    display: none;
}

#Orange {
    display: none;
}