body {
  background: linear-gradient(to bottom, #ffae00, #ffea00c3);
}


h1,h2,h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}


h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 80px;
  color:#114b04;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h2 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 35px;
  color:#4b0505;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.minor-section h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 40px;
  color:#114b04;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center
}


.header-section {
  padding: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;

}

.header-text {
  flex-grow: 1;
  text-align: center;
  padding: 0 20px;
}

.minor-section {
  max-width: 5000px;  
  padding: 10px;
  margin-bottom: 10px;
  border-color: #114b04;
  border-style: groove;
  border-radius: 15px;
  background-color: #ffae0082;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #4b0505;
  
 
}


.map-section {
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
}


.map-box {
  display: flex;
  gap: 20px;
  border: solid 3px  #114b04;
  background-color:  #4b0505f4;
  border-radius: 5px;
  padding: 20px;
  color: #4b0505;
  max-width: 100%;
  flex-wrap: wrap;
}


.button-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 150px;
}


button {
  padding: 10px;
  border-style: outset;
  border-radius: 10px;
  background-color:#114b04;
  cursor: pointer;
  color: #ffae00;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  transition: box-shadow 0.3s ease;
}


button:hover {
  box-shadow: 0px 5px 10px  #200000;
  transform: scale(1.07);
  background:  silver;
  color: #114b04;
  font-weight: bolder;
}


.ucsc-mapbox {
  flex: 1;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  border: 2px solid #325943;
}


.ucsc_campus {
  width: 100%;
  max-width: 830px;
  height: fit-content;
  border-radius: 8px;
  border: 2px solid #325943;
}
