body {
    background: linear-gradient(to bottom, #ffae00, #ffea00c3);
    border-right: 10px solid transparent;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-image: url('../img/yerbaborder.png') 30% round;
    border-right-width: 20px;
    border-bottom-width: 20px;
    border-top-width: 20px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 25px;
    font-size: 80px;
    color: #4b0505;
}
    
h2 {
    color: #114b04; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 35px ;
    padding-top: 20px;
    padding-bottom: 0px;
}

h3 {
    color: #ffea00c3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 80px ;
    font-style: italic;
}

label {
    color: #4b0505;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

footer {

    padding: 30px;
}

#defaultChart {
border: inset 10px rgb(11, 138, 49);
font-family: Verdana, Geneva, Tahoma, sans-serif;
width:100%;max-width:800px

}
.link-section {
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: row;
    gap: 20px;

}

button {
    color: #ffae00;
    background: #114b04;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    transition: box-shadow 0.3s ease;
}

button:hover {
    box-shadow: 0px 5px 10px  #4b0505;
    transform: scale(1.07);
    background:  silver;
    color: #114b04;
    font-weight: bolder;
}
